span {
	color: green;
}

h2 {
	color: rgb(64, 119, 9);
}

#second_h2 {
	color: blueviolet;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3rem;
}

.group1 {
	color: #1677ff;
}

.group2 {
	color: #eb2f96;
}

.clickLink {
	/* 外间距 */
	margin: 5px 10px;
	/* 内间距 */
	padding: 5px 10px;
	/* 字体颜色 */
	color: #fff;
	/* 背景颜色 */
	background-color: #13c2c2;
	/* 圆角处理 */
	border-radius: 5px;
	/* 鼠标手样式 */
	cursor: pointer;
}
